html{
    width: max(1600px,100vw);
    height: auto;
}
body{
    display: grid;
    grid-template: minmax(100vh,1fr)/minmax(300px,1fr) minmax(1000px,4fr);
    height: auto;
    width:max(1600px,100vw);
}
#navBar{
    grid-area: 1/1/2/2;
    display: grid;
    grid-template: 300px repeat(7,75px)/1fr;
    background-color: #DFE0DF;
    padding-bottom: 100px;
}
#navBar a{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
    justify-content: center;
    font-weight: 600;
}
#navBar a:hover{
    color: #FFB703;
}
img[alt='Logo']{
    border-radius: 50%;
    align-self: center;
    justify-self: center;
}
h1{
    font-size: 48px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 800;
    height: 50px;
}
h3{
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}
h2{
    font-size: 24px;
    display: flex;
    align-items: center;
    font-weight: 700;
    color: #FFB703;
    justify-content: center;
}

a{
    color: black;
    text-decoration: none;
}

a:hover{
    border-bottom:1px solid black;
}

p a{
    color: #FFB703;
    font-weight: 600;
}

#signup{
    display: flex;
    flex-direction: column;
    justify-self: center;
    margin-top: 100px;
    margin-right: 300px;
    
}
form{
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    width: 500px;
}
form >div{
    display: flex;
    flex-direction: column;
    height: 100px;
}
input{
    height: 50px;
    border: 0;
    border-bottom: 1px solid black;
    padding-left: 30px;
    font-size: 18px;
    margin-top: 20px;
}
label{
    font-size: 20px;
    font-weight: 600;
    margin-top: 20px;
}
p{
    font-size: 20px;
    display: flex;
    justify-content: center;
}

button{
    height: 50px;
    width: 250px;
    border-radius: 20px;
    background-color: #FFB703;
    font-size: 18px;
    align-self: center;
    margin-top: 30px;
    margin-bottom: 20px;
}

button:hover{
    background-color: #FB8500;
    cursor: pointer;
}
label::after{
    content: '*';
}