html{
    width: max(1600px,100vw);
    height: auto;
}
body{
    display: grid;
    grid-template: minmax(100vh,1fr)/minmax(300px,1fr) minmax(1000px,4fr);
    height: auto;
    width:max(1600px,100vw);
}
#navBar{
    grid-area: 1/1/2/2;
    display: grid;
    grid-template: 300px repeat(7,75px)/1fr;
    background-color: #DFE0DF;
    padding-bottom: 100px;
}
#navBar a{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
    justify-content: center;
    font-weight: 600;
}
#navBar a:hover{
    color: #FFB703;
}
img[alt='LOgo']{
    border-radius: 50%;
    align-self: center;
    justify-self: center;
}
h1{
    font-size: 48px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 800;
    height: 50px;
}
h3{
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}
h2{
    font-size: 24px;
    display: flex;
    align-items: center;
    font-weight: 700;
    color: #FFB703;
    justify-content: center;
}

a{
    color: black;
    text-decoration: none;
}

a:hover{
    border-bottom:1px solid black;
}

p a{
    color: #FFB703;
    font-weight: 600;
}

#signup{
    display: flex;
    flex-direction: column;
    justify-self: center;
    margin-top: 100px;
    margin-right: 300px;
    justify-content: center;
    
}
form{
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    width: 500px;
}
form >div{
    display: flex;
    flex-direction: column;
    height: 140px;
}
input{
    height: 70px;
    border: 0;
    /* border-bottom: 1px solid black; */
    padding-left: 30px;
    font-size: 18px;
    margin-top: 20px;
    background-color: #DFE0DF;
    border-radius: 10px;
    margin-bottom: 6px;
}
label{
    font-size: 20px;
    font-weight: 600;
    margin-top: 20px;
}
p{
    font-size: 20px;
    display: flex;
    justify-content: center;
}

button{
    height: 50px;
    width: 250px;
    border-radius: 20px;
    background-color: #FFB703;
    font-size: 18px;
    align-self: center;
    margin-top: 30px;
    margin-bottom: 20px;
}

button:hover{
    background-color: #FB8500;
    cursor: pointer;
}
label::after{
    content: '*';
}
.hamburger{
    display: none;
}


.bar{
    display: block;
    width: 30px;
    height: 3px;
    margin: 5px auto;
    background-color: black;
}

#contOfHamburger{
    display: none;
}
@media (max-width:1500px){
    h1{
        font-size: 40px;
    }
    h2{
        font-size: 32px;
    }
}

@media (max-width:1384px){
    h1{
        font-size: 32px;
    }
    h2{
        font-size: 28px;
    }
    p{
        font-size: 21px;
    }
} 


@media (max-width:1280px) {
    body{
        display: grid;
        grid-template: 70px 1fr;
        min-height: 100vh;
        width:100vw;
    }
    #navBar{
        display: flex;
        background-color: #DFE0DF;
        padding-bottom: 0;
        justify-content: space-around;
        align-items: center;
    }
    img[alt='Logo']{
        width: 50px;
        height: 50px;
    }
    img[alt='LOgo']{
        width: 50px;
        height: 50px;
    }
    html{
        width: 100vw;
    }
    body{
        display: grid;
        grid-template: 70px 1fr/1fr;
        width:100vw;
    }
    #intro{
        display: grid;
        grid-template: 50px 300px 50px 130px 50px 300px/1fr;
        grid-area: 2/1/3/2;
        padding:20px;
    }
    #intro h1{
        grid-area: 1/1/2/2;
        font-weight: 800;
    }
    #intro h2{
        grid-area: 3/1/4/2;
        font-weight: 700;
    }
    #intro p{
        grid-area: 4/1/5/2;
    }
    #newArticles{
        grid-area: 6/1/7/2;
    }
    #image{
        grid-area: 2/1/3/2;
    }
    button{
        grid-area: 5/1/6/2;
    }

    #smallBar{
        display: flex;
        justify-content: space-between;
        padding-left: 20px;
        padding-right: 20px;
    }
    img[alt="SmallLogo"]{
        border-radius: 70%;
        height: 50px;
    }
    #signup{
        margin-right: 0;
        align-self: center;
    }
    /* *{
        border: 1px solid blue;
    } */
}
@media (max-width:920px){
    #contOfHamburger{
        display: flex; 
        justify-content: space-between;
        align-items: center;
        background-color: #DFE0DF;
        padding-left: 20px;
        padding-right: 20px;
    }
    #navBar{
        display: none;
    }
    img[alt='LOgo']{
        display: none;
    }
    img[alt='Logo']{
        border-radius: 50%;
    }
    .hamburger {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #DFE0DF;
        cursor: pointer;
        width: 50px;
        height: 50px;
    }
    .hamburger.active{
        display: flex;
        justify-content: center;
        position: fixed;
        right: 60px;
        height: 50px;
        top: 20px;
        background-color: white;
        width: 50px;

    }
    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1){
        transform: translateY(15px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3){
        transform: translateY(-15px) rotate(-45deg);
    }
    #navBar.active{
        display: grid;
        grid-template: repeat(7,75px)/1fr;
        gap: 0;
        position: fixed;
        top: 0;
        height:100%;
        width: 300px;
        padding-top: 20px;
    }
}

@media(max-width:565px){
    /* input{
        width: 400px;
    } */
    form >div{
        width: 450px;
    }
    form{
        align-self: center
    };
}
@media(max-width:521px){
    /* input{
        width: 300px;
    } */
    form >div,p,h1{
        width: 400px;
    }
    #container >div{
        width: 300px;
    }
}
@media(max-width:465px){
    /* input{
        width: 300px;
    } */
    form >div,p,h1{
        width: 300px;
    }
    #container >div{
        width: 300px;
    }
    
    #afterForm{
        width: 300px;
    }
}
