*{
    border: 1px solid blue;
}
body{
    display: grid;
    grid-template: auto/20vw 60vw 20vw;
}
#navBar{
    grid-area: 1/1/2/2;
    display: grid;
    grid-template: 200px/repeat();
}
#intro{
    grid-area: 1/2/2/3;
}
#image{
    grid-area: 1/3/2/4;
}