*{
    border:1px solid blue;
}
html{
    height: 100vh;
    width: 100vw;
}
body{
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template: 1fr/20vw 80vw;
}
#navBar{
    grid-area: 1/1/2/2;
    display: grid;
    grid-template: 300px repeat(7,75px)/1fr;
}
#articles{
    display: grid;
    grid-template: 100px 0.8fr 0.2fr/1fr;
}
#articles >:nth-child(2){
    display: grid;
    grid-template: 1fr 1fr/1fr 1fr 1fr;
    gap: 20px;
}
#articles >:last-child{
    display: grid;
    grid-template: 65px 65px 65px 65px/1fr;
}