html{
    width: max(1600px,100vw);
    height: auto;
}
body{
    display: grid;
    grid-template: minmax(100vh,1fr)/minmax(300px,1fr) minmax(1000px,4fr);
    height: auto;
    width:max(1600px,100vw);
    margin: 0;
}
#navBar{
    grid-area: 1/1/2/2;
    display: grid;
    grid-template: 300px repeat(7,75px)/1fr;
    background-color: #DFE0DF;
    padding-bottom: 100px;

}
#navBar a{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
    justify-content: center;
    font-weight: 600;
}
#navBar a:hover{
    color: #FFB703;
}
img[alt='LOgo']{
    border-radius: 50%;
    align-self: center;
    justify-self: center;
}
#articles{
    display: grid;
    grid-template: 100px auto 0.2fr/1fr;
    padding-left: 25px;
    padding-top: 30px;
    gap: 30px;
}
#container{
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
    }
#container >div{
    width: 400px;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
    background-color: #DFE0DF;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 5px 5px 10px black;
}

#container >div:hover{
    box-shadow: 10px 10px 15px  black;
}
#container >div img{
    width: 100%;
    height: 300px;
}

#container >div >:nth-child(3){
    height: 100px;
    font-size: 18px;
    padding: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#articles >:last-child{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

button{
    height: 50px;
    width: 250px;
    border-radius: 20px;
    background-color: #FFB703;
    font-size: 18px;
    font-weight: 600;
}

button:hover{
    background-color: #FB8500;
    cursor: pointer;
}

h1{
    font-size: 48px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    font-weight: 800;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


input{
    height: 50px;
    background-color: #DFE0DF;
    width: 500px;
    border-radius: 30px;
    padding-left: 20px;
    border: 0;
}
h4{
    color: #FFB703;
    font-size: 20px;
    padding-top: 20px;
    font-weight: 600;
}
h5{
    font-weight: 600;
    font-size:20px;
}


h3{
    font-size: 24px;
    display: flex;
    align-items: center;
}
a:hover{
    border-bottom:1px solid black;
}
#contOfHamburger{
    display: none;
}

.hamburger{
    display: none;
}

.bar{
    display: block;
    width: 50px;
    height: 5px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: black;
}
@media (max-width:1280px) {
    /* #navBar{
        display: none;
    } */
    html{
        width: 100vw;
    }
    body{
        display: grid;
        grid-template: 70px 1fr/1fr;
        width:100vw;
    }
    #navBar{
        display: flex;
        background-color: #DFE0DF;
        padding-bottom: 0;
        justify-content: space-around;
        align-items: center;
    }
    img[alt='LOgo']{
        width: 50px;
        height: 50px;
    }
    /* .hamburger {
        display: block;
        background-color: #DFE0DF;
        cursor: pointer;
        position: fixed;
        top: 30px;
        left: 30px;
    }
    .hamburger.active{
        display: block;
        position: fixed;
        left: 300px;
        height: 100vh;
        top: 0;
    }
    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1){
        transform: translateY(10px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3){
        transform: translateY(-10px) rotate(-45deg);
    }
    #navBar.active{
        display: grid;
        position: fixed;
    } */
}
@media (max-width:920px){
    #contOfHamburger{
        display: flex; 
        justify-content: space-between;
        align-items: center;
        background-color: #DFE0DF;
        padding-left: 20px;
        padding-right: 20px;
    }
    #navBar{
        display: none;
    }
    img[alt='LOgo']{
        display: none;
    }
    img[alt='Logo']{
        width: 50px;
        height: 50px;
        border-radius: 50%;
    }
    .hamburger {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #DFE0DF;
        cursor: pointer;
        width: 50px;
        height: 50px;
    }
    .hamburger.active{
        display: flex;
        justify-content: center;
        position: fixed;
        right: 60px;
        height: 50px;
        top: 20px;
        background-color: white;
        width: 50px;

    }
    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1){
        transform: translateY(15px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3){
        transform: translateY(-15px) rotate(-45deg);
    }
    #navBar.active{
        display: grid;
        grid-template: repeat(7,75px)/1fr;
        gap: 0;
        position: fixed;
        top: 0;
        height:100%;
        width: 300px;
        padding-top: 20px;
    }
    #container h1{
        font-size: 25px;
    }
    #articles{
        width:90%;
        padding: 0;
        justify-self: center;
    }
    #articles >:last-child {
        width: 100%;
    }
}
@media(max-width:565px){
    input{
        width: 400px;
    }
}
@media(max-width:565px){
    input{
        width: 85%;
    }
    #container >div{
        width: 300px;
        box-sizing: border-box;
    }
}
dialog >div{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    align-items: center;
}



dialog{
    width: min(600px,80%);
    border-radius: 8px;
}