html{
    width: max(1600px,100vw);
    height: auto;
}
body{
    display: grid;
    grid-template: minmax(100vh,1fr)/minmax(300px,1fr) minmax(1000px,4fr);
    height: auto;
    width:max(1600px,100vw);
    margin: 0;
}
#navBar{
    grid-area: 1/1/2/2;
    display: grid;
    grid-template: 300px repeat(7,minmax(75px,1fr))/1fr;
    background-color: #DFE0DF;
    padding-bottom: 100px;
}
#navBar a{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
    justify-content: center;
    font-weight: 600;
}
#navBar a:hover{
    color: #FFB703;
}
img[alt='Logo']{
    border-radius: 50%;
    align-self: center;
    justify-self: center;
}
#services{
    display: grid;
    grid-template: 100px 1fr/1fr;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    background-color: #FFF8EC;
}

p{
    font-size: 24px;
    display: flex;
    align-items: center;
    padding-left: 15px;
}

h1{
    font-size: 48px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    font-weight: 800;
}

h2{
    font-size: 36px;
    display: flex;
    align-items: center;
    font-weight: 700;
}
h3{
    font-size: 24px;
    display: flex;
    align-items: center;
}

#sub-service{
    display: grid;
    grid-template: 1fr 1fr/1fr 1fr 1fr;
    gap: 30px;
    padding-top: 30px;
}

#sub-service >div{
    background-color: #DFE0DF;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 5px 5px 10px black;
    gap: 20px;
    padding-bottom: 15px;
}

#sub-service >div:hover{
    box-shadow: 10px 10px 15px black;
}

button{
    height: 50px;
    width: 250px;
    border-radius: 20px;
    background-color: #FFB703;
    font-size: 18px;
    align-self: center;
}

button:hover{
    background-color: #FB8500;
    cursor: pointer;
}

h3{
    display: flex;
    justify-content: center;
    font-weight: 600;
    font-size: 24px;
}