/* *{border: 1px solid blue;} */
html{
    min-height: 100vh;
    width: 100vw;
}
body{
    display: grid;
    grid-template: minmax(100vh,1fr)/minmax(300px,1fr) minmax(1000px,4fr);
    min-height: 100vh;
    width:100vw;
    margin: 0;
}
#navBar{
    grid-area: 1/1/2/2;
    display: grid;
    grid-template: 300px repeat(7,75px)/1fr;
    background-color: #DFE0DF;
    padding-bottom: 100px;
}
#navBar a{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
    justify-content: center;
    font-weight: 600;
}
#navBar a:hover{
    color: #FFB703;
}
img[alt='LOgo']{
    border-radius: 50%;
    align-self: center;
    justify-self: center;
}
.hamburger{
    display: none;
}

.bar{
    display: block;
    width: 30px;
    height: 3px;
    margin: 5px auto;
    background-color: black;
}

#contOfHamburger{
    display: none;
}
ol{
    display: flex;
    flex-direction: column;
    gap: 20px;

}
li{
    font-size: 20px;
}
@media (max-width:1500px){
    h1{
        font-size: 40px;
    }
    h2{
        font-size: 32px;
    }
}

@media (max-width:1384px){
    h1{
        font-size: 32px;
    }
    h2{
        font-size: 28px;
    }
    p{
        font-size: 21px;
    }
} 


@media (max-width:1280px) {
    body{
        display: grid;
        grid-template: 70px 1fr;
        min-height: 100vh;
        width:100vw;
    }
    #navBar{
        display: flex;
        background-color: #DFE0DF;
        padding-bottom: 0;
        justify-content: space-around;
        align-items: center;
        width: 100vw;
    }
    img[alt='Logo']{
        width: 50px;
        height: 50px;
    }
    img[alt='LOgo']{
        width: 50px;
        height: 50px;
    }
    html{
        width: 100vw;
    }
    body{
        display: grid;
        grid-template: 70px 1fr/1fr;
        width:100vw;
    }
    img[alt="SmallLogo"]{
        border-radius: 70%;
        height: 50px;
    }

}
@media (max-width:920px){
    #contOfHamburger{
        display: flex; 
        justify-content: space-between;
        align-items: center;
        background-color: #DFE0DF;
        padding-left: 20px;
        padding-right: 20px;
    }
    #navBar{
        display: none;
    }
    img[alt='LOgo']{
        display: none;
    }
    img[alt='Logo']{
        border-radius: 50%;
    }
    .hamburger {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #DFE0DF;
        cursor: pointer;
        width: 50px;
        height: 50px;
    }
    .hamburger.active{
        display: flex;
        justify-content: center;
        position: fixed;
        right: 60px;
        height: 50px;
        top: 20px;
        background-color: white;
        width: 50px;

    }
    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1){
        transform: translateY(15px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3){
        transform: translateY(-15px) rotate(-45deg);
    }
    #navBar.active{
        display: grid;
        grid-template: repeat(7,75px)/1fr;
        gap: 0;
        position: fixed;
        top: 0;
        height:100%;
        width: 300px;
        padding-top: 20px;
    }
}